{% extends "base.html" %}
{% block content %}

    <!-- Intro -->
    <div class="intro-text teal-text">
	    <h2>The virtual meeting place for book lovers</h2>
        <p>
            <span>Book <span class="teal-text">Club</span></span> Virtual book clubs are flourishing as they adapt to our increasingly rich online lives.  We host interactive author talks, online meetings, chat groups, and ongoing discussions over books.
        </p>
        {% if not user %}
            <a class="sign-up teal-text" href="{{ url_for('sign_up') }}">Sign Up</a>
        {% endif %}
    </div>

{% endblock %}